<header class="plants-hero">
	<h1>Login</h1>
</header>
<div class="container">
	<div class="ui stackable centered padded grid">
		<div class="six wide column">
			<form method="post" action="/auth/login" class="ui form">
				<div class="field">
					<label>Email</label>
					<input type="text" name="email" placeholder="your@email.com" required>
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" required>
				</div> 
				<button type="submit" class="ui secondary button large">
					Login
				</button>
			</form>
		</div>
	</div>
	<p>Need to <a href="/auth/signup">create an account</a>?</p>
</div>



