<header class="plants-hero small">
	<h1>Sign Up</h1>
</header>
<div class="container">
	<div class="ui stackable centered padded grid">
		<div class="six wide column">
			<form method="post" action="/auth/signup" class="ui form">
				<div class="field">
			    	<label>Name</label>
			    	<input type="text" name="name" placeholder="Name" required>
			  	</div>
				<div class="field">
					<label>Email</label>
					<input type="text" name="email" placeholder="your@email.com" required>
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" required>
				</div> 
			  	<button type="submit" class="ui secondary button large">
					Sign Up
				</button>
			</form>
		</div>
	</div>
	<p>Already have an account? Please <a href="/auth/login">login</a>.</p>
</div>






