<header class="profile-hero">
	<h1>Sign Up</h1>
</header>
</div>
<div class="container">
	<form method="post" action="/auth/signup">
		<label>Name
			<input type="text" name="name" class="form-control" placeholder="Name" required>
		</label>
		<br>
		<label>
			Email
			<input type="text" name="email" class="form-control" placeholder="your@email.com" required>
		</label>
		<br>
		<label>
			Password
			<input type="password" name="password" class="form-control" required>
		</label>
		<br>
		<button type="submit" class="ui secondary button large">
			Sign Up
		</button>
	</form>
</div>
<p>Already have an account? Please <a href="/auth/login">login</a>.</p>