<footer>
	<div class="ui stackable centered padded grid">
		<div class="four wide column">
			<h4><i class="copyright icon"></i> 2017 Jacquelyn Marcella</h4>
			<p>
				<a href="https://github.com/jacquelynmarcella/plantparenthood" target="_blank"><i class="github icon"></i> View on Github</a>
			</p>
		</div>
		<div class="three wide column">
			<h4>Data Sources</h4>
			<p>
				<a href="http://extension.uga.edu/publications/detail.html?number=B1318" target="_blank">Univeristy of Georgia</a>
				<a href="http://www.wikipedia.org">Wikipedia</a>
			</p>
		</div>
	</div>
</footer>