<nav>
    <a href="/">Plant Parenthood</a>
    <a href="/plants" class="desktop-nav">Plants</a>
    <a href="#" class="nav-hamburger"><i class="sidebar icon"></i></a>
    <% if(!currentUser){ %>

      <a href="/auth/signup" class="desktop-nav">Signup</a>
      <a href="/auth/login" class="desktop-nav">Login</a>
   
    <% } else { %>

      <a href="/users/profile" class="desktop-nav"><i class="user icon"></i> <%= currentUser.name %></a>
      <a href="/users/plants" class="sub-nav desktop-nav">Your Plants</a>
      <a href="/users/journal" class="sub-nav desktop-nav">Journal</a>
      <a href="/auth/logout" class="sub-nav desktop-nav">Logout</a>

    <% } %>  
</nav>
