<nav>
  <a href="/">Plant Parenthood</a>
  | <a href="/plants">All Plants</a>
  <% if(!currentUser){ %>
    | <a href="/auth/signup">Signup</a>
    | <a href="/auth/login">Login</a>
  <% } else { %>
    | <a href="/users/profile"><i class="user circle"></i> <%= currentUser.name %></a>
    | <a href="/users/plants">Your Plants</a>
    | <a href="/users/journal">Journal</a>
    | <a href="/auth/logout">Logout</a>
  <% } %>  
</nav>