<header class="journal-hero">
	<h1>Journal</h1>
</header>
<a href="/users/journal/new">Write new entry</a>
<% if(user.journals.length <= 0) { %>
	<h2>No entries yet</h2>
<% } else { %>
	<% user.journals.forEach(function(j){ %>
	<h4><%= moment(j.createdAt).calendar() %></h4>
	<p><%= j.content %></p>
	<a href="/users/journal/edit/<%= j.id %>">Edit Entry</a>
	<a href="/users/journal/<%= j.id %>" class="delete-journal">Delete Entry</a>
<% }); %>
<% } %>
