<h2>Journal</h2>
<a href="/users/journal/new">Write new entry</a>
<% if(!user.journals) { %>
	<h2>No entries yet</h2>
<% } else { %>
	<% user.journals.forEach(function(j){ %>
	<h4><%= moment(j.createdAt).calendar() %></h4>
	<p><%= j.content %></p>
<% }); %>
<% } %>
