<header class="plants-hero">
	<h1>Journal</h1>
</header>
<div class="container">
	<div class="ui stackable centered padded grid">
		 <div class="twelve wide column">
			<h2>New Entry</h2>
			<form method="post" action="/users/journal" class="ui reply form">
				<div class="field">
					<input type="text" name="title" placeholder="Title">
				</div>
				<div class="field">
					<textarea name="content" placeholder="Text here"></textarea>
					<input type="hidden" name="userId" value="<%= currentUser.id %>">
				</div>
				<button type="submit" class="ui secondary button large">
					Post
				</button> 
			</form>
			<br>
			<p><a href="/users/journal">Back to Journal Entries</a></p>
		</div>
	</div>
</div>