<header class="hero">
	<h1>Plant<br>Parenthood</h1><br>
		<h2>Take better care of your house plants.</h2><br>
		<a href="/auth/signup">
			<button class="ui inverted button massive">SIGN UP</button>
		</a>
</header>
<div class="ui stackable centered padded grid">
	<div class="four wide column">
		<img src="/img/noun_879907_cc.png" class="ui fluid image">
	</div>
	<div class="eight wide column">
		<h2>Data for over 200 houseplants (and counting).</h2>
		<p>We've compiled easy to understand care data for the most common houseplants. Save houseplants and have all of your care data in one easy place. Keep track your last watered date....
		</p>
		<a href="/plants">
			<button class="ui button massive basic">BROWSE PLANTS</button>
		</a>
	</div>
</div>