<header class="hero">
	<h1>Plant<br>Parenthood</h1><br>
		<h2>Take better care of your indoor house plants.</h2><br>
		<a href="/auth/signup">
			<button class="ui inverted button massive">SIGN UP</button>
		</a>
</header>
<div class="container">
	<div class="ui stackable centered padded grid">
		<div class="twelve wide column">
			<h1 class="ui header"><i class="leaf icon"></i>
					Data for over 200 houseplants
			
			</h1>
			<p>We've compiled easy to understand care data for the most common houseplants. Save houseplants and have all of your care data in one easy place. Keep track your last watered date....
			</p>
			<h3><a href="/plants">Browse Plants</a></h3>
		</div>
	</div>
</div>