<header class="hero">
	<div>
	<h1>Plant<br>Parenthood</h1><br>
		<h2>Become a better plant parent</h2><br>
		<a href="/auth/signup"><button class="ui inverted button massive">SIGN UP</button></a>
	</div>
</header>
<div class="sub-section">
<div class="ui stackable padded centered grid">
	<div class="five wide column">
		<h1>Simple care information for <span class="big-number">200+</span> houseplants.</h1>
	</div>
	<div class="seven wide column">
		<p>Most plant care sites are full of lengthy articles aimed at the expert gardener, not those of us who impulsively buy indoor houseplants. Plant Parenthood has simplified this care data to make it easier for you to keep track of the information you really need, without all the master gardener lingo.</p>
		<h3><a href="/plants" class="green-button">BROWSE PLANTS</a></h3>
	</div>
</div>
