<header class="hero">
	<div>
	<h1>Plant<br>Parenthood</h1><br>
		<h2>Become a better plant parent</h2><br>
		<a href="/auth/signup"><button class="ui inverted button massive">SIGN UP</button></a>
	</div>
</header>
<div class="sub-section">
<div class="ui stackable padded centered grid">
	<div class="five wide column">
		<h1>Simple care data for over <span class="big-number">200</span> houseplants.</h1>
	</div>
	<div class="seven wide column">
		<p>Most plant care sites are full of lengthy articles aimed at the expert gardener. At Plant Parenthood, we've made it easy to access the data you really need about your plants. All of your plant care data can finally be in one place in an easy to understand format.</p>
		<h3><a href="/plants">BROWSE PLANTS</button></a></h3>
	</div>
</div>
