<header class="hero">
	<h1>Plant<br>Parenthood</h1><br>
		<h2>Become a better plant parent</h2><br>
		<a href="/auth/signup">
			<button class="ui inverted button massive">SIGN UP</button>
		</a>
</header>
<div class="ui stackable centered padded grid">
	<div class="twelve wide column">
		<h1 class="ui header"><i class="leaf icon"></i>
			Data for over 200 houseplants
		</h1>
		<p>
			There's a ton of plant care data out there, but it can be hard to wade through it all. Many sites are aimed at expert gardeners, not those of us who can't stop accumulating indoor houseplants. We've compiled easy to understand care data for 200+ of the most common houseplants.
		</p>
		<h3><a href="/plants">Browse Plants</a></h3>
	</div>
</div>
