* {
  font-family: "Raleway", sans-serif; }

body {
  text-align: center;
  min-height: 100%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important; }

h1 {
  font-size: 3em;
  font-weight: 900 !important;
  line-height: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block; }
  @media all and (max-width: 780px) {
    h1 {
      font-size: 2.25em; } }

h2 {
  font-size: 1.5em;
  font-weight: 800; }

a {
  color: #2B7D43;
  text-decoration: none;
  font-weight: 800; }
  a:hover {
    color: rgba(0, 0, 0, 0.8); }

em {
  font-weight: 400; }

hr {
  width: 60%;
  background: rgba(0, 0, 0, 0.5);
  height: 2px; }

nav {
  height: 65px;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 99;
  font-size: .8em;
  letter-spacing: 1px;
  transition: content 2s; }
  @media all and (max-width: 500px) {
    nav {
      font-size: 1em; } }
  nav i {
    font-size: 2em;
    color: white; }
  nav a {
    color: white;
    text-transform: uppercase;
    margin: 0 10px; }
    nav a:hover {
      border-bottom: 2px solid white;
      color: white; }
    nav a.sub-nav {
      font-weight: 400; }
  nav .nav-left, nav .nav-right {
    display: inline-block;
    position: absolute;
    top: 25px; }
  nav .nav-left {
    text-align: left;
    left: 20px; }
  nav .nav-right {
    text-align: right;
    right: 20px; }
  nav .nav-hamburger {
    display: none; }
    nav .nav-hamburger:hover {
      border-bottom: 0; }
    @media all and (max-width: 920px) {
      nav .nav-hamburger {
        display: inline-block; } }
  nav .nav-responsive {
    display: none;
    position: relative;
    top: 64px;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.9); }
    nav .nav-responsive a {
      display: block;
      padding: 30px 0; }
      nav .nav-responsive a:hover {
        border-bottom: 0; }
  @media all and (max-width: 920px) {
    nav .nav-desktop {
      display: none; } }

footer {
  margin-top: 20px;
  background: #2B7D43;
  color: white;
  padding: 20px; }
  footer h4, footer p {
    text-align: left;
    font-weight: 700; }
  footer a {
    color: rgba(0, 0, 0, 0.8);
    font-size: .9em;
    display: block; }

.container {
  width: 85%;
  margin: 30px auto; }
  @media all and (min-width: 1400px) {
    .container {
      width: 55%; } }
  @media all and (max-width: 780px) {
    .container {
      width: 90%; } }
  @media all and (max-width: 500px) {
    .container {
      width: 100%; } }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .site .site-content {
    flex: 1;
    padding-top: 64px; }

.alert-success, .alert-error {
  padding: 10px;
  font-weight: 800;
  position: absolute;
  top: 64px;
  width: 100%; }

.alert-success {
  background: #2B7D43;
  color: white; }

.alert-error {
  background: #E3CB43;
  color: rgba(0, 0, 0, 0.9); }

input[type="date"], input[type="text"], input[type="password"], textarea, .reply.form textarea, .ui.comments {
  padding: 8px;
  font-weight: 400;
  margin: 5px;
  font-family: "Raleway", sans-serif !important; }

input[type="date"] {
  margin: 0 0 10px 0;
  width: 175px; }

header {
  background: url("/img/hero-large.jpg") no-repeat;
  background-size: cover;
  color: #E3CB43;
  margin-top: -64px;
  padding-top: 64px;
  margin-bottom: 20px; }
  header.hero {
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    header.hero h1 {
      font-size: 5em;
      position: relative;
      display: inline-block;
      text-align: left; }
      @media all and (max-width: 780px) {
        header.hero h1 {
          font-size: 3em; } }
    header.hero h2 {
      display: inline-block;
      color: white;
      line-height: 1em;
      letter-spacing: 1px;
      font-weight: 400; }
      @media all and (max-width: 500px) {
        header.hero h2 {
          font-size: 1.5em; } }
    @media all and (max-width: 500px) {
      header.hero {
        background: url("/img/hero-mobile.jpg") no-repeat;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        height: 90vh; } }
  header.plants-hero {
    background-position: 0 40%;
    padding: 50px;
    padding-top: 114px; }
    header.plants-hero h1 {
      font-size: 5em; }
    header.plants-hero.small h1 {
      font-size: 3em; }
  header.profile-hero {
    background-position: 0 25%;
    padding: 50px;
    padding-top: 114px; }

.sub-section {
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left; }
  @media all and (max-width: 780px) {
    .sub-section {
      padding: 5px 15px; } }
  .sub-section h1 {
    font-size: 2.5em;
    line-height: 1.10em;
    text-align: left;
    letter-spacing: 0px;
    text-transform: none; }
    @media all and (max-width: 780px) {
      .sub-section h1 {
        font-size: 2.5em;
        line-height: inherit; } }
    @media all and (max-width: 500px) {
      .sub-section h1 {
        font-size: 2em; } }
  .sub-section p {
    font-size: 1.1em;
    line-height: 2em;
    text-align: left; }
  .sub-section .big-number {
    display: block;
    font-size: 3.5em;
    line-height: .50em;
    margin-top: .1em;
    margin-bottom: .2em; }
    @media all and (max-width: 780px) {
      .sub-section .big-number {
        display: inline;
        font-size: inherit;
        line-height: inherit; } }

a.green-button {
  display: inline-block;
  margin-top: 5px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid #2B7D43; }
  a.green-button:hover {
    background: #2B7D43;
    color: white; }

.tag-large {
  background: #E3CB43;
  color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  line-height: 3em;
  font-weight: 800;
  border-radius: 10px;
  white-space: nowrap; }
  .tag-large:hover {
    background: white; }

.plant-grid .column {
  padding-top: 35px !important; }

.plant-grid-name {
  margin: 20px;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif; }

.plant-grid-botanical {
  margin: 5px; }

.plant-image, p.no-image, .profile-pic {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  opacity: .9;
  z-index: -1; }
  .plant-image:hover, p.no-image:hover, .profile-pic:hover {
    opacity: 1; }
  .plant-image img, p.no-image img, .profile-pic img {
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px; }
  .plant-image-small {
    border-radius: 120px;
    width: 75px;
    height: 75px;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px; }
    .plant-image-small img {
      min-height: 75px;
      min-width: 75px;
      max-height: 90px;
      max-width: 90px; }

.plant-icon-section {
  white-space: nowrap;
  display: block;
  margin: 10px 0; }

.plant-icon-large {
  max-height: 40px;
  opacity: .8;
  margin-bottom: -20px; }

.plant-icon-small {
  max-height: 16px;
  opacity: .8; }

.plant-icon-empty {
  opacity: .5; }

.plant-name {
  font-size: 2em;
  letter-spacing: 0px;
  text-transform: none; }

.plant-botanical-name {
  margin-top: -3px; }

p.no-image {
  margin-top: 0;
  background-color: #E8E8E8;
  padding: 50px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400; }

.profile-pic img {
  height: 150px;
  min-width: 150px;
  max-width: 200px; }

.placeholder-profile-pic {
  height: 150px;
  margin-bottom: -20px;
  filter: invert(100%);
  opacity: .9; }

.edit-pic {
  position: relative;
  right: 40px;
  bottom: 10px;
  margin-right: -40px; }

a.top {
  text-align: center;
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5em; }
  a.top.scrolling {
    display: inline-block; }

.ui.inverted.button {
  margin-top: 15px; }

.ui.secondary.button {
  background: rgba(0, 0, 0, 0.8);
  font-family: "Raleway", sans-serif !important;
  margin: 10px; }

.ui.basic.button, .button, .ui.basic.buttons, .ui.labeled.icon.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800; }

.ui.fluid.search.selection.dropdown {
  border: 0;
  margin: 20px auto;
  border-radius: 0;
  background: white;
  width: 55%;
  font-size: 1.10em; }
  @media all and (max-width: 780px) {
    .ui.fluid.search.selection.dropdown {
      width: 100%;
      font-size: .75em; } }

.ui.header + p {
  font-size: 1.25em; }

.ui.comments {
  font-size: 1em;
  text-align: left;
  margin: 10px auto;
  padding: 20px; }

.ui.label {
  background: #E3CB43;
  color: rgba(0, 0, 0, 0.9);
  margin: 5px; }
  .ui.label.big {
    margin: 10px; }

.ui.centered.grid > .column:not(.aligned):not(.row), .ui.centered.grid > .row > .column:not(.aligned), .ui.grid .centered.row > .column:not(.aligned) {
  text-align: center; }

.column, .four.wide.column {
  text-align: center; }

.avatar {
  opacity: .8; }
  .avatar:hover {
    opacity: 1; }

body > div:nth-child(2) > h3 > em {
  position: relative;
  bottom: 10px;
  margin: 40px; }

body > header > form > div > div.menu.transition.visible {
  border: 0;
  background: white;
  border-radius: 0; }
