/* YELLOW: #E3CB43 */
/* GREEN: #2B7D43 */
/* BLUE: #1C3E5D */
/* GREY: #72766C */

body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Shrikhand', cursive;
}

h1 {
	font-size: 5em;
	letter-spacing: 3px;
}

a {
	color: #2B7D43;
	text-decoration: none;
	font-weight: 800;
}

a:hover {
	color: black;
}

em {
	font-weight: 400;
}

hr {
	width: 7em;
	height: 4px;
	border: none;
	background: #72766C;
}

.hero {
	background: url('/img/pexels-photo-92733.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.hero h1 {
	position: relative;
	line-height: 1em;
	color: #E3CB43;
	font-size: 5em;
	display: inline-block;
}

.hero h2 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.plants-hero {
	background: url('/img/pexels-photo-213727.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
}

.profile-hero {
	background: url('/img/pexels-photo-175247.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 10px;
}

.plants-hero h1 {
	display: inline-block;
	line-height: 1em;
}

input, textarea {
	background: none;
	font-family: 'Open Sans', sans-serif;
	border: 3px solid black;
	padding: 10px;
	color: black;
	font-size: 1em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus  {
	outline: none;
	border: 3px solid #2B7D43;
}

input[type="submit"] {
	background: black;
	color: white;
	font-weight: 400;
}

.tag-large {
	background: #E3CB43;
	color: black;
	padding: 10px;
	line-height: 3em;
	font-weight: 800;
	border-radius: 10px;
}

.tag-large:hover {
	background: white;
}

.plant-image {
	border-radius: 150px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
}

.plant-image img {
	min-height: 150px;
	min-width: 150px;
	max-height: 200px;
	max-width: 200px;
}

.delete-link {
	background: #1C3E5D;
	color: white;
	padding: 10px;
	margin: 10px;
	font-weight: 400;
}


/* NAV BAR */
.custom-wrapper {
	margin-bottom: 1em;
	-webkit-font-smoothing: antialiased;
	height: 2.1em;
	overflow: hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	transition: height 0.5s;
	margin: 0;
}
      
.custom-wrapper.open {
	height: 14em;
}
      
.custom-menu-3 {
	text-align: right;
}
      
.custom-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
      
.custom-toggle .bar {
	background-color: black;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
      
.custom-toggle .bar:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}
      
.custom-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
      
.custom-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
      
@media (max-width: 47.999em) {     
	.custom-menu-3 {
		text-align: left;
	}  

	.custom-toggle {
		display: block;
	}    
}