/* YELLOW: #E3CB43 */
/* GREEN: #2B7D43 */
/* BLUE: #125d9e */
/* GREY: #72766C */

* {
	font-family: 'Raleway', sans-serif;
}

body {
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: 5em;
	letter-spacing: 3px;
	font-weight: 900 !important;
	font-family: 'Raleway', sans-serif !important;

}

a {
	color: #2B7D43;
	text-decoration: none;
	font-weight: 800;
}

a:hover {
	color: black;
}

em {
	font-weight: 400;
}

hr {
	width: 7em;
	height: 4px;
	border: none;
	background: #72766C;
}

.hero {
	background: url('/img/pexels-photo-92733.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.hero h1 {
	position: relative;
	line-height: 1em;
	color: #E3CB43;
	font-size: 5em;
	display: inline-block;
	text-transform: uppercase;
	text-align: left;
}

.hero h2 {
	color: white;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
}

.plants-hero {
	background: url('/img/pexels-photo-213727.jpg');
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px;
}

.profile-hero {
	background: url('/img/pexels-photo-92733.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	display: inline-block;
}

.profile-hero input {
	background: white;
}

.plants-hero h1 {
	display: inline-block;
	line-height: 1em;
	text-transform: uppercase;
}

input, textarea {
	background: none;
	font-family: 'Raleway', sans-serif;
	border: 3px solid black;
	padding: 10px;
	color: black;
	font-size: 1em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus  {
	outline: none;
	border: 3px solid #2B7D43;
}

input[type="submit"] {
	background: black;
	color: white;
	font-weight: 400;
}

.tag-large {
	background: #E3CB43;
	color: black;
	padding: 10px;
	line-height: 3em;
	font-weight: 800;
	border-radius: 10px;
	white-space: nowrap;
}

.tag-large:hover {
	background: white;
}

.plant-image {
	border-radius: 150px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
}

.plant-image img {
	min-height: 150px;
	min-width: 150px;
	max-height: 200px;
	max-width: 200px;
}

.plant-image-small {
	border-radius: 120px;
	width: 100px;
	height: 100px;
	margin: 10px;
}

.plant-image-small img {
	min-height: 100px;
	min-width: 100px;
	max-height: 150px;
	max-width: 150px;
}


.plant-icon-large {
	max-height: 75px;
}

.plant-icon-small {
	max-height: 25px;
}

.delete-link {
	background: #1C3E5D;
	color: white;
	padding: 10px;
	margin: 10px;
	font-weight: 400;
}

.sidebar {
	background: black;
	color: white;
}

.sidebar img {
	padding-top: 50px;
	filter: invert(100%);
	max-width: 100px;
}

.sidebar a {
	color: white;
}

.container {
	width: 75%;
	margin: 20px auto;
}

.yellow-box {
	background: #E3CB43;;
}

.inline-block {
	display: inline-block;
}

footer {
	background: #72766C;
	color: white;
}


/* Semantic UI Overrides */

.ui.fluid.search.selection.dropdown {
	border: 0;
	margin: 20px auto;
	border-radius: 0;
	background: white;
	width: 50%;
	font-size: 1.5em;
}

.ui.label {
	background: #E3CB43;
	color: black;
}

.ui.label:hover {
	background: #72766C;
	color: black;
}


body > header > form > div > div.menu.transition.visible {
	border: 0;
	background: white;
	border-radius: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	h1, .hero h1 {
		font-size: 2.5em;
		letter-spacing: 3px;
	}

	.hide-on-mobile {
		display: none;
		/* Need to make this disappear for tablet too */
	}

	.container {
		width: 100%;
	}

	.ui.fluid.search.selection.dropdown {
	width: 100%;
	font-size: 1em;
	}

}