<h2>Your Plants</h2>
<% if(user.plants.length <= 0) { %>
	<p>No plants added</p>
<% } else { %>
<div class="container">
	<div class="pure-g">
		<% user.plants.sort(function(a, b){ %>
			<% var x = a.name.toLowerCase(); %>
    		<% var y = b.name.toLowerCase(); %>
    		<% if (x < y) {return -1;} %>
    		<% if (x > y) {return 1;} %>
    		<% return 0; %>
		<% }).forEach(function(item){ %>
			<div class="pure-u-1 pure-u-md-1-4">
				<% include ../partials/plantgrid %>
				<a href="/plants/<%= item.id %>" class="delete-plant">
				<button class="ui labeled icon mini button">
  					<i class="remove icon"></i>
  					Delete Plant
				</button>
				</a>
			</div>
		<% }); %>
	</div>
</div>
<% } %>