<h2><%= currentUser.name %>'s Plants</h2>
<% if(user.plants.length <= 0) { %>
	<p>No plants added</p>
<% } else { %>
	<div class="pure-g">
		<% user.plants.forEach(function(item){ %>
			<div class="pure-u-2 pure-u-md-1-4">
				<% include ../partials/plantgrid %>
				<a href="/plants/<%= item.id %>" class="delete-plant">Delete</a>
			</div>
		<% }); %>
	</div>
<% } %>