<div class="container">
	<% if(user.userImg){ %>
		<div class="plant-image">
			<img src="<%= user.userImg %>" alt="Profile Picture">
		</div>
	<% } else { %>
		<img src="/img/profpic-default.png" class="empty-icon ui centered small image">
	<% } %>
	<h2>Edit Profile Picture</h2>
	<p>For best results, a square photo is recommended.</p>
	<div class="ui stackable centered padded grid">
		<div class="eight wide column">
			<form enctype="multipart/form-data" action="/users/profilepic" method="POST">
				<div class="field">
			    	<input type="file" name="profilePic" class="ui basic button" required>
			    	<button type="submit" class="ui secondary button large">
						Upload
					</button>
			  	</div>		
			</form>
		</div>
	</div>
</div>


