<header class="plants-hero">
	<h1>Plants</h1>
		<% if(plants.length > 0) { %>
		<form action="/plants/search" method="get" target="_blank">
			<div class="ui fluid search selection dropdown">
	  			<input type="hidden" name="id">
	  		<i class="dropdown icon"></i>
	  		<div class="default text">Search Plants</div>
	  			<div class="menu">
				<% plants.sort(function(a, b){ %>
					<% var x = a.name.toLowerCase(); %>
		    		<% var y = b.name.toLowerCase(); %>
		    		<% if (x < y) {return -1;} %>
		    		<% if (x > y) {return 1;} %>
		    		<% return 0; %>
				<% }).forEach(function(plant){ %>
	  				  <div class="item" data-value="<%= plant.id %>"><b><%= plant.name %></b> <small><i><%= plant.botanicalName %></i></small></div>
	  			<% }); %>	
	  			</div>
	 		</div>
 		</form>
		<% } %>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-4">
			<h2>Water</h2>
			<hr>
			<p>
				<img src="/img/water-empty.png" class="plant-icon-small" alt="Water">
				<img src="/img/water-empty.png" class="plant-icon-small" alt="Water">
				<img src="/img/water-empty.png" class="plant-icon-small" alt="Water">
				<img src="/img/water-empty.png" class="plant-icon-small" alt="Water">
			</p>
		</div>
		<div class="pure-u-1 pure-u-md-1-4">
			<h2>Light</h2>
			<hr>
			<p>
				<img src="/img/sun-empty.png" class="plant-icon-small" alt="Light">
				<img src="/img/sun-empty.png" class="plant-icon-small" alt="Light">
				<img src="/img/sun-empty.png" class="plant-icon-small" alt="Light">
			</p>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<span class="tag-large">cat-friendly</span> 
			<span class="tag-large">dog-friendly</span> 
			<span class="tag-large">palm</span> 
			<span class="tag-large">low maintenance</span>  
			<span class="tag-large">orchid</span> 
			<span class="tag-large">foliage</span> 
			<span class="tag-large">flowering</span> 
			<span class="tag-large">ivy</span> 
			<span class="tag-large">bromeliad</span> 
			<span class="tag-large">fern</span> 
			<span class="tag-large">succulent & cactus</span> 
		</div>
	</div>
</header>
<div class="container">
<% if(plants.length <= 0) { %>
	<h2>Nothing in the database yet</h2>
<% } else { %>
	<div class="pure-g">
		<% plants.sort(function(a, b){ %>
			<% var x = a.name.toLowerCase(); %>
    		<% var y = b.name.toLowerCase(); %>
    		<% if (x < y) {return -1;} %>
    		<% if (x > y) {return 1;} %>
    		<% return 0; %>
		<% }).forEach(function(item){ %>
			<div class="pure-u-1 pure-u-md-1-4">
				<% include ../partials/plantgrid %>
				<% if(currentUser){ %>
					<form method="post" action="/plants">
						<input type="hidden" name="id" value="<%= item.id %>">
						<input type="submit" value="+">
					</form>
				<% } else { %>
						<a href="/auth/login">+</a>
				<% } %>
			</div>
		<% }); %>
	</div>
</div>
	<a href="#" alt="Back to Top">Top</a>
<% } %>

