<header class="plants-hero">
	<h1>Plants</h1>
	<div>
		<input type="text">
		<input type="submit" value="Search">
	</div>
	<div class="filter-box">
		<h2>Water</h2>
		<hr>
		XXXXX
	</div>
	<div class="filter-box">
		<h2>Light</h2>
		<hr>
		XXXXX
	</div>
	<div class="filter-box">
		<span class="tag-large">cat-friendly</span> 
		<span class="tag-large">dog-friendly</span> 
		<span class="tag-large">cactus</span>
		<span class="tag-large">good for beginners</span>  
		<span class="tag-large">palm</span> 
		<span class="tag-large">flowering</span> 
		<span class="tag-large">ivy</span> 
		<span class="tag-large">fern</span> 
		<span class="tag-large">succulent</span> 
	</div>
</header>
<% if(plants.length <= 0) { %>
	<h2>Nothing in the database yet</h2>
<% } else { %>
	<div class="pure-g">
		<% plants.forEach(function(item){ %>
			<div class="pure-u-2 pure-u-md-1-4">
				<% include ../partials/plantgrid %>
				<% if(currentUser){ %>
					<form method="post" action="/plants">
						<input type="hidden" name="id" value="<%= item.id %>">
						<input type="submit" value="Add Plant">
					</form>
				<% } else { %>
						<p>Add button links to login page</p>
				<% } %>
			</div>
		<% }); %>
	</div>
<% } %>

