$green_color: #2B7D43;
$yellow_color: #E3CB43;
$font_color: rgba(0,0,0,.8);
$black_color: rgba(0,0,0,.9);
$light_grey: #E8E8E8;
$primary_font: 'Raleway', sans-serif;

* {
	font-family: $primary_font;
}

body {
	text-align: center;
	min-height: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary_font !important;
}

h1 {
	font-size: 3em;
	font-weight: 900 !important;
	line-height: 1em;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: block;
	@media all and (max-width: 780px){
		font-size: 2.25em;
	}
}

h2 {
	font-size: 1.5em;
	font-weight: 800;
}

a {
	color: $green_color;
	text-decoration: none;
	font-weight: 800;
	&:hover {
		color: $font_color;
	}
}

em {
	font-weight: 400;
}

hr {
	width: 60%;
	background: rgba(0,0,0,.5);
	height: 2px;
}

nav {
	height: 65px;
	text-align: left;
	color: white;
	background: $black_color;
	position: fixed;
  	top: 0;
  	width: 100%;
  	box-sizing: border-box;
  	text-align: center;
  	z-index: 99;
  	font-size: .8em;
  	letter-spacing: 1px;
  	transition: content 2s;

  	@media all and (max-width: 500px){
		font-size: 1em;
	}

	i {
		font-size: 2em;
			color: white;
	}

	a {
		color: white;
		text-transform: uppercase;
		margin: 0 10px;
		&:hover {
			border-bottom: 2px solid white;
			color: white;
		}
		&.sub-nav {
			font-weight: 400;
		}
	}

	.nav {
		&-left, &-right {
			display: inline-block;
			position: absolute;
			top: 25px;
		}

		&-left {
			text-align: left;
			left: 20px;
		}

		&-right {
			text-align: right;
			right: 20px;
		}

		&-hamburger {
			display: none;
			&:hover {
				border-bottom: 0;
			}
			@media all and (max-width: 920px){
				display: inline-block;
			}
		}

		&-responsive {
			display: none;
			position: relative;
			top: 64px;
			font-size: 1em;
			background: $black_color;
			a {
				display: block;
				padding: 30px 0;
				&:hover {
					border-bottom: 0;
				}
			}
		}

		&-desktop {
			@media all and (max-width: 920px){
				display: none;
			}
		}
	}
}

footer {
	margin-top: 20px;
	background: $green_color;
	color: white;
	padding: 20px;

	h4, p {
		text-align: left;
		font-weight: 700;
	}

	a {
		color: $font_color;
		font-size: .9em;
		display: block;
	}
}

.container {
	width: 85%;
	margin: 30px auto;

	@media all and (min-width: 1400px){
		width: 55%;
	}
	@media all and (max-width: 780px){
		width: 90%;
	}
	@media all and (max-width: 500px){
		width: 100%;
	}
}

// For sticky footer at bottom
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.site-content {
		flex: 1;
		padding-top: 64px;
	}
}

%alert {
	padding: 10px;
	font-weight: 800;
	position: absolute;
	top: 64px;
	width: 100%;
}

.alert-success {
	@extend %alert;
	background: $green_color;
	color: white;
}

.alert-error {
	@extend %alert;
	background: $yellow_color;
	color: $black_color;
}

%input {
	padding: 8px;
	font-weight: 400;
	margin: 5px;
	font-family: $primary_font !important;
}

input {
	&[type="date"], &[type="text"], &[type="password"] {
		@extend %input;
	}
	&[type="date"] {
		margin: 0 0 10px 0;
		width: 175px;
	}
}

textarea, .reply.form textarea, .ui.comments {
	@extend %input;
}

header {
	background: url('/img/hero-large.jpg') no-repeat;
	background-size: cover;	
	color: $yellow_color;
	margin-top: -64px;
	padding-top: 64px;
	margin-bottom: 20px;
	
	//Homepage header
	&.hero {
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			font-size: 5em;
			position: relative;
			display: inline-block;
			text-align: left;
			@media all and (max-width: 780px){
				font-size: 3em;
			}
		}
		h2 {
			display: inline-block;
			color: white;
			line-height: 1em;
			letter-spacing: 1px;
			font-weight: 400;
			@media all and (max-width: 500px){
				font-size: 1.5em;
			}
		}
		@media all and (max-width: 500px){
			background: url('/img/hero-mobile.jpg') no-repeat;
			background-size: cover;
			background-position: bottom;
			background-attachment: fixed;
			height: 90vh;
		}
	}

	// Header throughout most of site
	&.plants-hero {
		background-position: 0 40%;
		padding: 50px;
		padding-top: 114px;
		h1 {
			font-size: 5em;
		}	
		&.small h1 {
			font-size: 3em;
		}
	}

	// Profile page header
	&.profile-hero {
		background-position: 0 25%;
		padding: 50px;
		padding-top: 114px;
	}
}

// Secondary section on homepage
.sub-section {
	min-height: 55vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	@media all and (max-width: 780px){
		padding: 5px 15px;
	}
	h1 {
		font-size: 2.5em;
		line-height: 1.10em;
		text-align: left;
		letter-spacing: 0px;
		text-transform: none;
		@media all and (max-width: 780px){
			font-size: 2.5em;
			line-height: inherit;
		}
		@media all and (max-width: 500px){
			font-size: 2em;
		}
	}
	p {
		font-size: 1.1em;
		line-height: 2em;
		text-align: left;
	}
	.big-number {
		display: block;
		font-size: 3.5em;
		line-height: .50em;
		margin-top: .1em;
		margin-bottom: .2em;
		@media all and (max-width: 780px){
			display: inline;
			font-size: inherit;
			line-height: inherit;
		}
	}
}

a.green-button {
	display: inline-block;
	margin-top: 5px;
	padding: 15px 20px;
	border-radius: 5px;
	border: 2px solid #2B7D43;
	&:hover {
		background: #2B7D43;
		color: white;
	}
}

// Tags
.tag-large {
	background: $yellow_color;
	color: $black_color;
	padding: 10px;
	line-height: 3em;
	font-weight: 800;
	border-radius: 10px;
	white-space: nowrap;
	&:hover {
		background: white;
	}
}

// Plant grid and plant details
.plant {
	&-grid .column {
		padding-top: 35px !important;
	}

	&-grid-name {
		margin: 20px;
		font-size: 1.4em;
		font-family: $primary_font;
	}

	&-grid-botanical {
		margin: 5px;
	}

	// Rounded plant images
	&-image {
		border-radius: 150px;
		width: 150px;
		height: 150px;
		overflow: hidden;
		text-align: center;
		display: inline-block;
		margin-top: 20px;
		opacity: .9;
		z-index: -1;
		&:hover {
			opacity: 1;
		}
		img {
			min-width: 150px;
			min-height: 150px;
			max-width: 250px;
			max-height: 250px;
		}

		&-small {
			border-radius: 120px;
			width: 75px;
			height: 75px;
			position: relative;
			bottom: 20px;
			margin-bottom: -20px;
			img {
				min-height: 75px;
				min-width: 75px;
				max-height: 90px;
				max-width: 90px;
			}
		}
	}

	// Icons
	&-icon {
		&-section {
			white-space: nowrap;
			display: block;
			margin: 10px 0;
		}

		&-large {
			max-height: 40px;
			opacity: .8;
			margin-bottom: -20px;
		}

		&-small {
			max-height: 16px;
			opacity: .8;
		}

		&-empty {
			opacity: .5;
		}
	}

	// Individual plant page
	&-name {
		font-size: 2em;
		letter-spacing: 0px;
		text-transform: none;
	}

	&-botanical-name {
		margin-top: -3px;
	}
}

p.no-image {
	@extend .plant-image;
	margin-top: 0;
	background-color: #E8E8E8;
	padding: 50px;
	color: rgba(0,0,0,.8);
	font-weight: 400;
}

.profile-pic {
	@extend .plant-image;
	img {
		height: 150px;
		min-width: 150px;
		max-width: 200px;
	}
}

.placeholder-profile-pic {
	height: 150px;
	margin-bottom: -20px;
	filter: invert(100%);
	opacity: .9;
}

.edit-pic {
	position: relative;
    right: 40px;
    bottom: 10px;
    margin-right: -40px;
}

// Back to top button
a.top {
	text-align: center;
	position: fixed;
	display: none;
	right: 20px;
	bottom: 20px;
	color: $font_color;
	font-size: 2.5em;
	&.scrolling {
		display: inline-block;
	}
}

// SEMANTIC UI-SPECIFIC OVERRIDES
.ui {
	&.inverted.button {
		margin-top: 15px;
	}
	&.secondary.button {
		background: $font_color;
		font-family: $primary_font !important;
		margin: 10px;
	}
	&.basic.button, &.basic.buttons, &.labeled.icon.button {
		font-family: $primary_font;
		font-weight: 800;
	}
	&.fluid.search.selection.dropdown {
		border: 0;
		margin: 20px auto;
		border-radius: 0;
		background: white;
		width: 55%;
		font-size: 1.10em;
		@media all and (max-width: 780px){
			width: 100%;
			font-size: .75em;
		}
	}
	&.header+p {
    	font-size: 1.25em;
	}
	&.comments {
		font-size: 1em;
		text-align: left;
		margin: 10px auto;
		padding: 20px;
	}
	&.label {
		background: $yellow_color;
		color: $black_color;
		margin: 5px;
		&.big {
			margin: 10px;
		}
	}
	&.centered.grid>.column:not(.aligned):not(.row), &.centered.grid>.row>.column:not(.aligned), &.grid .centered.row>.column:not(.aligned) {
		text-align: center;
	}	
}

.button {
	@extend .ui.basic.button;
}

.column, .four.wide.column {
	text-align: center;
}

.avatar {
	opacity: .8;
	&:hover {
		opacity: 1;
	}
}

body > div:nth-child(2) > h3 > em {
	position: relative;
	bottom: 10px;
	margin: 40px;
}

body > header > form > div > div.menu.transition.visible {
	border: 0;
	background: white;
	border-radius: 0;
}
