$green_color: #2B7D43;
$yellow_color: #E3CB43;
$font_color: rgba(0,0,0,.8);
$black_color: rgba(0,0,0,.9);
$primary_font: 'Raleway', sans-serif;

* {
	font: $primary_font;
}

body {
	text-align: center;
	min-height: 100%;
	margin: 0 auto
}

h1, h2, h3, h4, h5, h6 {
	font-family: $primary_font !important;
}

h1 {
	font-size: 4em;
	font-weight: 900 !important;
	line-height: 1em
	@media all and (max-width: 780px){
		font-size: 3em;
	}
}

h2 {
	font-size: 1.5em;
	font-weight: 800;
}

a {
	color: $green_color;
	text-decoration: none;
	font-weight: 800;
	&:hover {
		color: $font_color;
	}
}

em {
	font-weight: 400;
}

hr {
	width: 60%;
	background: rgba(0,0,0,.5);
	height: 2px;
}

nav {
	height: 65px;
	text-align: left;
	color: white;
	background: $black_color;
	position: fixed;
  	top: 0;
  	width: 100%;
  	box-sizing: border-box;
  	text-align: center;
  	z-index: 99;
  	font-size: .8em;
  	letter-spacing: 1px;
  	transition: content 2s;

  	@media all and (max-width: 500px){
		font-size: 1em;
	}

	i {
		font-size: 2em;
			color: white;
	}

	a {
		color: white;
		text-transform: uppercase;
		margin: 0 10px;
		&:hover {
			border-bottom: 2px solid white;
			color: white;
		}
		&.sub-nav {
			font-weight: 400;
		}
	}

	.nav-hamburger {
		display: none;
		&:hover {
			border-bottom: 0;
		}
		@media all and (max-width: 920px){
			display: inline-block;
		}
	}

	.nav-responsive {
		display: none;
		position: relative;
		top: 64px;
		font-size: 1em;
		background: $black_color;
	}

	.nav-responsive a {
		display: block;
		padding: 30px 0;
		&:hover {
			border-bottom: 0;
		}
	}

	.nav-left, .nav-right {
		display: inline-block;
		position: absolute;
		top: 23px;
	}

	.nav-left {
		text-align: left;
		left: 20px;
	}

	.nav-right {
		text-align: right;
		right: 20px;
	}

	.desktop-nav {
		@media all and (max-width: 920px){
			display: none;
		}
	}
}

.container {
	width: 85%;
	margin: 30px auto;

	@media all and (min-width: 1400px){
		width: 55%;
	}
	@media all and (max-width: 780px){
		width: 90%;
	}
	@media all and (max-width: 500px){
		width: 100%;
	}
}

// For sticky footer at bottom
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.site-content {
		flex: 1;
		padding-top: 64px;
	}

}

%alert {
	padding: 10px;
	font-weight: 800;
	position: absolute;
	top: 64px;
	width: 100%;
}

.alert-success {
	@extend %alert;
	background: $green_color;
	color: white;
}

.alert-error {
	@extend %alert;
	background: $yellow_color;
	color: $black_color;
}

%input {
	padding: 8px;
	font-weight: 400;
	margin: 5px;
	font-family: $primary_font !important;
}

input {
	&[type="date"], &[type="text"], &[type="password"] {
		@extend %input;
	}
	&[type="date"] {
		margin: 0 0 10px 0;
		width: 175px;
	}
}

textarea, .reply.form textarea, .ui.comments {
	@extend %input;
}

header {
	background: url('/img/hero-large.jpg') no-repeat;
	background-size: cover;	
	color: $yellow_color;

	//Homepage header
	&.hero {
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		margin-top: -64px;
		padding-top: 64px;
		h1 {
			font-size: 5em;
			letter-spacing: 3px;
			position: relative;
			line-height: 1em;
			font-size: 5em;
			display: inline-block;
			text-transform: uppercase;
			text-align: left;
			@media all and (max-width: 780px){
				font-size: 3em;
			}
		}
		h2 {
			display: inline-block;
			color: white;
			line-height: 1em;
			letter-spacing: 1px;
			font-family: $primary_font;
			font-weight: 400;
			@media all and (max-width: 500px){
				font-size: 1.5em;
			}
		}
		@media all and (max-width: 500px){
			background: url('/img/hero-mobile.jpg') no-repeat;
			background-size: cover;
			background-position: bottom;
			background-attachment: fixed;
			height: 90vh;
		}
	}

	// Header throughout most of site
	&.plants-hero {
		background-position: 0 40%;
		padding: 50px;
		margin-top: -64px;
		padding-top: 114px;
		h1 {
			line-height: 1em;
			letter-spacing: 3px;
			font-size: 5em;
			text-transform: uppercase;
			@media all and (max-width: 780px){
				font-size: 2.25em;
			}
		}	
		&.small h1 {
			font-size: 3em;
			@media all and (max-width: 780px){
				font-size: 2.25em;
			}
		}
	}

	// Profile page header
	&.profile-hero {
		background-position: 0 25%;
		padding: 50px;
		margin-top: -64px;
		padding-top: 114px;
		margin-bottom: 20px;
		h1 {
			line-height: 1em;
			letter-spacing: 3px;
			font-size: 3em;
			text-transform: uppercase;
			@media all and (max-width: 780px){
				font-size: 2.25em;
			}
		}
	}
}

footer {
	margin-top: 20px;
	background: $green_color;
	color: white;
	padding: 20px;

	h4, p {
		text-align: left;
	}

	a {
		color: $font_color;
		font-size: .9em;
		font-weight: 400px;
		display: block;
	}
}